*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    display: flex;
    flex-wrap: wrap;
    margin: 3px;
    flex: 1 1 100vw;
}
header{
    display: flex;
    margin: 3px;
    flex: 1 1 100vw;
    background-color: #a1a1a1;
}
nav{
    display: flex;
    margin: 3px;
    flex: 1 1 100vw;
    background-color: #a1a1a1;
}
main{
    display: flex;
    margin: 3px;
    flex: 1 1 100vw;
    background-color: #a1a1a1;
}
aside{
    display: flex;
    margin: 3px;
    flex: 1 1 100vw;
    background-color: #a1a1a1;
}
footer{
    display: flex;
    margin: 3px;
    flex: 1 1 100vw;
    background-color: #a1a1a1;
}

