*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
header, nav, main, aside, footer{
    display: flex;
    margin: 3px;
    background-color: #a1a1a1;
}
body{
    display: flex;
    flex-wrap: wrap;
    margin: 3px;
    flex: 1 1 100vw;
}
header{
    flex: 1 1 100vw;
    height: 100px;
}

nav{
    flex: 1 1 100vw;
    height: 100px;
    align-items: center;
    justify-content: center;
}
nav a{
    margin: 5%;
    font-size: 20pt;
}
main{
    flex: 20 1 500px;
    height: calc(100vh - 330px);
}
aside{
    flex: 1 1 200px;
}
footer{
    flex: 1 1 100vw;
    height: 100px;
}
a{
    text-decoration: none;
    color: inherit;
}
@media only screen and (max-width: 923px) {
    maien {
        height: calc(100vh - 436px);
    }

    aside {
        flex: 1 1 100vw;
        height: 100px;
    }
}
